/*
Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
Color & Style
*/
body {
    background-color: rgb(200,200,200);
    font-family: 'Helvetica', Arial, sans-serif;
}


/*
Nav-desktop
*/
#desktop-nav ul {
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
#desktop-nav ul li {
    margin-right: 20px; 
    float: right;
    margin-top: 50px;
    
}
#desktop-nav ul li a {
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: indianred;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
}
#desktop-nav ul li a:hover {
    color: black;
}

#desktop-nav .li-left {
    float: left;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18pt;
    color: indianred;
    padding: 3px 10px;
    text-decoration: none; 
}

            
h2 {
   padding-left: 20px;
   color: indianred;
   margin-top: 50px;
   float: left;
  }                      
h3 {
   padding-left: 50px;
   margin-top: 130px;
   float: left;
  }  
img {
    
   border-radius: 50%; 
   margin-top: 70px;
   margin-left: 50px;

   float: left;
/*
Layout
*/    
}
aside {
    padding-top: 400px;
    margin-left: 50px;
    line-height: 18pt;
    width: 50%;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

article {
  float: left;
  padding-top: 100px;
  padding-left: 200px;
    
}

/*
Table
*/

table,td,th {
  border-collapse: collapse;
  text-align: center;
  margin-top: 100px;
  margin-left: 200px;
}
table .td {
  border-right: 6px solid indianred;
  padding: 60px;
  text-align: right;
  height: 70px;
  
}

    
/*
footer
*/
footer {
  float: left;
  width: 100%;
  background-color: aqua;
  margin-bottom: 0px;
  margin-left: 100px;
}



/*
Typography
*/

