@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/*
Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 #desktop-nav {
        display: none;
    }
  /* 
Responsive design, mobile first 
*/
        
@media only screen and (min-width: 600px) {


    /* 
    Nav, desktop
    */

    #desktop-nav {
        display: block;
    }

    #mobile-nav {
        display: none;
    }

/*
Color & Style
*/
body {
    background-image: url(../img/backimage1.jpg);
   font-family: 'Nunito', sans-serif;
}

    
/* 
Nav- mobile
*/       
        
#burger-icon {
    margin: 0 20px;
}

#burger-icon div {
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: rgba(150,160,170,0.9);
    margin: 3px 0 0 0;
}


#burger-icon:hover div {
    background-color: rgb(160,170,180);
}

#burger-icon:hover {
cursor: pointer;
    }

#mobile-nav ul {
    margin-top: 11px;
}

#mobile-nav ul li {
    margin-top: 1px;
}

#mobile-nav ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px; 
    font-size: 1em;
}


/*
Nav-desktop
*/
#desktop-nav ul {
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
#desktop-nav ul li {
    margin-right: 20px; 
    float: right;
    margin-top: 50px;
    
}
#desktop-nav ul li a {
    display: inline-block;
    background-color: indianred;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
}

#desktop-nav .li-left {
    float: left;
    font-size: 18pt;
    color: indianred;
    padding: 3px 10px;
    text-decoration: none; 
}
 
img {
   border-radius: 50%; 
   margin-top: 20px;
   margin-left: 50px;
   float: left;
    }

    #fontsize {
        font-size:20px; 
    }
/*
Layout
*/  
header {
   font-family: 'Nunito', sans-serif;
}

aside {
    padding-top: 300px;
    margin-left: 50px;
    line-height: 18pt;
    width: 50%;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}

article {
  float: left;
  padding-top: 100px;
  padding-left: 200px;
  line-height: 18pt; 
}

/*
Table
*/

table,td,th {
  border-collapse: collapse;
  text-align: left;
  margin-top: 100px;
  margin-left: 200px;
}
table .td {
  border-right: 6px solid indianred;
  padding: 50px;
  text-align: right;
  height: 60px;
  
}

    
/*
footer
*/
footer {
  float: left;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}



